/* OVERALL STYLES START */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("space.jpg");
}
div { 
  color: white;
}
header {
  background-color: #4a2552;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 1;
}
h1 {
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: 80px;
}
nav {
  color: white;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  padding: 30px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 30px;
}
nav ul li a.active {
  background-color: #d0c7c2;
  color: black;
  padding: 30px;
}
nav ul li:hover {
  background-color: #d0c7c2;
  color: black;
  padding: 30px;
  box-shadow: 10px 5px 5px white;
  -webkit-box-reflect: below;
}
footer {
  text-align: center;
  position: relative;
  color: white;
  background-color: #552869;
  bottom: 0px;
}
::after {
  background-color: #552869;
}
footer b { 
  font-stretch: extra-expanded;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 0;
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
img {
  image-rendering: optimizeSpeed;
  width: 25%;
  height: auto;
  display: inline-flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  text-align: justify;
}
iframe {
  width: 100%;
  height: auto;
}
/* OVERALL STYLES END */
/* ================== */

/* RESUME STYLES START */
table {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background: #bcaaa4;
}
tr:nth-child(even) {
  background: #4e342e;
  color: white;
}
th,
td {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-color: teal;
  border-style: solid;
  border-width: 5px;
}
#skills {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
td:hover { 
  text-decoration: underline;
  text-shadow: 1px 1px 2px white;
}
/* RESUME STYLES END */
/* ================= */

/* PORTFOLIO STYLES START */
ol { 
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  list-style-type: circle;
  list-style-position: inside;
}
/* PORTFOLIO STYLES END */

/* ANIMATIONS */
@keyframes flicker {
  0% {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: skew(-2deg, 0.6deg);
    opacity: 0.75;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

/* MEDIA */
@media screen and (max-width: 480px) {
  body { 
    background-size: contain;
    background-repeat: round;
  }
  header,
  footer {
    width: 100%;
    height: auto;
  }
  table {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: purple;
  }
}
@media screen and (min-width: 767px) {
  header,
  footer {
    width: 100%;
    height: auto;
  }
}